/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/
/* 
Colors used:
Background Color (Light blue-green): #C7DDCC;
Secondary Color (Turquoise): #75C9B7 or #A4DBCC;
Accent Color 1 (Yellow): #FFE26A;
Accent Color 2 (Light green): #ABD699;
Text (Black): #16123F;
Header menu (very dark orange): #662C00
*/

body {
  background-color: #C7DDCC;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #16123F;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: -8px;
}

#about-page h3 { margin-top: 0;}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
}


/*setting images to full-width*/
img {
  width: 100%;
}

.saima-image img {
width: 100%;
height: auto;
display: block;
float:right;
padding: 10px;

} 

/*change the default link color to your primary color (copied from your comments at the top of the document)*/
a {
  color: #662C00;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #16123F;
  text-decoration: none; /* Underlining when hovering over a link */
}

/*style the current nav item black*/
.active a {
    color: #16123F;
    text-decoration: underline;
}

a:active { /* selected link */
  color: #662C00;
}

/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  color: #662C00;
  text-decoration: none;
}


/*CSS code for the button class*/
.button {
  display: inline-block;
  background-color: #ffe26a;
  color: #16123F;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 3px;
  border-bottom: 2px solid #662C00;
  transition: 0.8s opacity 0.2s
}

.button:hover {
  background-color: #75C9B7; /* Turquoise Background on Hover */
  color: #5b4900; /* Yellow Text on Hover */
  transform: scale(1.05); /* Slight scaling effect */
  opacity:0.8; /*button class hover and active state*/
  text-decoration:none ;
  cursor: pointer;
  opacity: 0.8;
  font-size:20px;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*button class hover and active state*/

.button.contact:hover {
  opacity: 0.8;
  background-color: #75C9B7;
  color: #662C00;
}

.button.contact:active {
  opacity: 0.8;
  background-color: #75C9B7;
  color: #ffe26a;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/

/*style the <header> element*/
header {
  background-color: #C7DDCC;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/*style the logo*/
header .logo {
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Navigation Styling*/

nav > ul {
  margin: 1em 0;
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
position: absolute;
right: 0;
top: 2px;
font-size: 20px;
padding-right: 0px;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #abd699;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
  font-size: 32px;
  font-weight: 400;
}

#contact {
background-color: #75C9B7;
padding: 20px;
}


/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.social img {
  height: 32px;
  width: 32px;
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 20px; }

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*SVG anamation*/
.svg-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.sun {
  animation: 4s color-change infinite alternate linear;
}
*/

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
*/

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }
  header {
    padding: 20px 0 13px;
  }

  header.logo {
    min-width: 641px;
    left: 100%;
  }
  
  nav > ul > li {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  
  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }
 
    
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
    
  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }
  .col-lg-8 {
    width: 40%;
    float: right;
  }
    
   #about-page .col-md-6 {
     width: 100%;
  }
    .saima-image img {
  width: 35%;
  height: auto;
  display: block;
 float:right;
 padding: 10px;
}
}
